@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circle {
    @apply absolute block h-1 w-1  rounded-full bg-blackishBlue md:h-2 md:w-2;
  }
}

@layer utilities {
  .backgrounds {
    background-repeat: no-repeat, repeat;
    background-position: center bottom, center top;
    @apply bg-[url('/images/pattern-hills.svg'),_url('/images/bg-stars.svg')] bg-[position:right_bottom,_right_center] md:bg-[position:center_bottom,_right_center];
  }
}

.clock-container {
  perspective-origin: 50% 50%;
  perspective: 300px;
}

.transform-style {
  transform-style: preserve-3d;
}

.ficon:hover {
  filter: invert(48%) sepia(89%) saturate(1180%) hue-rotate(310deg)
    brightness(100%) contrast(98%);
}
